extends layout.pug

block content
  nav.nav
    a(href='/')
      span &larr;
      | Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box
        h1 Daniel Mula Tarancón
        p Software Developer
        .about-bio
          p I am a civil Engineer with a great background in mathematics who loves coding. One of my principals are: "Find your passion and profit from it".

      .skills-contact-box.box
        h6 Skills
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li Accessibility
          li Go
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug
          li Python
          li Flask

        h6 Contact Info
        ul
          li 0034 608 701 171
          li intersum369@gmail.com

        a.btn-link(href='www.linkedin.com/in/daniel-mula-tarancón-974233b1', target="_blank") LinkedIn
        br
        a.btn-link(href='https://github.com/3Grey6Jedi9', target="_blank") GitHub

  nav.nav
    a(href='/')
      span &larr;
      | Back
