extends layout.pug

block content

  article.portfolio-intro


    div.logo
    h1 Hey, Potential Employers

    p I want employers to know my skills as developer


  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in data.projects



        .cell
          a(href=`/project/${project.id}`)
            //- Assuming the first image in image_urls array is the main image for the project
            img.thumbnail(src=`${project.image_urls[0]}`, alt=`Thumbnail - ${project.project_name}`)
            h5= project.project_name



